.root {
    display: flex;
    flex-wrap: wrap;
}

.column {
    max-width: 100px;
}

.button {
    text-decoration: 'none';
    cursor: 'pointer';
    background: 'none';
    border: 'none';
    padding: 0;
}

.img {
    width: 100%;
}